body {
background:#222;
color:#ccc;
}

div {
height:30px;
position:relative;
margin-left:auto;
margin-right:auto;
left:0;
right:0;
text-align:center;
margin-top:18%;
}

audio {
width:50%;
}
